In [10]:
import pandas as pd
from astropy.io import fits
from astropy.table import Table
import numpy as np

import os

In [11]:
path = '/data/astro/scratch/lcabayol/Euclid/NNphotozs/Euclid_EXT_MER_PHZ_DC2_v1.5'
filename_calib='euclid_cosmos_DC2_S1_v2.1_calib_clean.fits'
filename_valid='euclid_cosmos_DC2_S1_v2.1_valid.fits'

In [12]:
hdu_list = fits.open(os.path.join(path,filename_calib))
cat_calib = Table(hdu_list[1].data).to_pandas()

hdu_list = fits.open(os.path.join(path,filename_valid))
cat_valid = Table(hdu_list[1].data).to_pandas()

In [13]:
hdu_list = fits.open('/data/astro/scratch/lcabayol/Euclid/NNphotozs/euclid_cosmos_DC2_S2_v2.1_full.fits')
cat_all = Table(hdu_list[1].data).to_pandas()

In [23]:
cat_all[(cat_all.RA==149.553146)&(cat_all.DEC==2.735168)]

,ID,RA,DEC,FLUX_G_1,FLUX_G_2,FLUX_G_3,FLUX_R_1,FLUX_R_2,FLUX_R_3,FLUX_I_1,...,mu_class_L07,photo_z_L15,z_spec_S15,Q_f_S15,Instr_S15,reliable_S15,flag_X_ray_s15,flag_IRAC_s15,STAR,AGN
391281,391282,149.553146,2.735168,3.187,3.208,3.167,8.187,8.348,8.272,12.89,...,-99,0.322,0.299501,2.0,PRIMUS,-99,0,0,0,0

In [24]:
df_ra_dec = cat_all[['RA', 'DEC']].values
ra_dec_pairs = cat_valid[['RA', 'DEC']].values

In [25]:
# Find the common rows using numpy's isin() function
common_rows = np.isin(df_ra_dec, ra_dec_pairs).all(axis=1)

In [27]:
# Filter the dataframe based on matching RA, DEC pairs
cat_valid_match = cat_all[common_rows]

In [38]:
cat_valid_match[(cat_valid_match.reliable_S15<0)&(cat_valid_match.z_spec_S15>0)]

,ID,RA,DEC,FLUX_G_1,FLUX_G_2,FLUX_G_3,FLUX_R_1,FLUX_R_2,FLUX_R_3,FLUX_I_1,...,mu_class_L07,photo_z_L15,z_spec_S15,Q_f_S15,Instr_S15,reliable_S15,flag_X_ray_s15,flag_IRAC_s15,STAR,AGN
368,369,149.862381,1.624455,0.4753,0.4252,0.4659,1.507,1.374,1.2680,3.983,...,1,1.189000,1.279900,1.5,zBRIGHT,-99,0,0,0,0
614,615,149.967209,1.625431,1.3970,1.3210,1.2990,3.310,3.165,2.8200,3.815,...,1,0.499900,0.498300,2.5,zBRIGHT,-99,0,0,0,0
863,864,150.029968,1.625488,1.8440,1.5770,1.5760,3.141,3.037,2.9770,6.058,...,1,0.818700,0.838300,2.5,zBRIGHT,-99,0,0,0,0
951,952,149.713226,1.625920,2.3280,2.3360,2.3340,5.336,5.136,5.1460,8.928,...,1,0.611600,0.615000,1.5,zBRIGHT,-99,0,0,0,0
1292,1293,149.530899,1.626842,1.0330,0.8639,0.8805,1.963,1.939,1.9980,3.388,...,1,0.751600,0.763700,9.5,zBRIGHT,-99,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391055,391056,149.911942,2.737337,2.5840,2.7920,2.7740,4.309,4.247,4.0800,6.144,...,1,0.207600,9.999900,0.0,zBRIGHT,-99,0,0,0,0
391111,391112,149.960968,2.735883,1.1160,1.0270,1.0280,4.790,4.807,4.8790,14.450,...,1,0.690500,0.696300,1.5,zBRIGHT,-99,0,0,0,0
391133,391134,149.802002,2.735837,1.1510,0.9859,1.0060,2.038,2.059,1.9160,3.724,...,1,-99.900002,0.680074,2.0,PRIMUS,-99,0,0,0,0
391178,391179,149.902161,2.735792,0.6982,0.6542,0.5222,1.162,1.024,0.7999,3.115,...,1,0.860600,0.881794,2.0,PRIMUS,-99,0,0,0,0
391281,391282,149.553146,2.735168,3.1870,3.2080,3.1670,8.187,8.348,8.2720,12.890,...,-99,0.322000,0.299501,2.0,PRIMUS,-99,0,0,0,0

In [33]:
cat_valid_match_fitTable = Table.from_pandas(cat_valid_match)

# Define the output file path
output_file_path = "/data/astro/scratch/lcabayol/Euclid/NNphotozs/Euclid_EXT_MER_PHZ_DC2_v1.5/euclid_cosmos_DC2_S1_v2.1_valid_matched.fits"

# Save the FITS table to the output file
cat_valid_match_fitTable.write(output_file_path, format='fits', overwrite=True)

In [72]:
cat_calib[cat_calib.z_spec_S15>3].Q_f_S15.unique()

array([  0. ,   3. ,   9. ,   1. ,   4. ,  20. ,   9.5,   2. , -10. ,
        22. ,  21. ,   2.5,   3.5,   3.1,  14. ,  13.1,  10. ,   1.1,
        13. ,  32. ,  13.5,   1.5,  33. ,   2.1,   4.5,   4.1,  14.5,
        29. ,  39. ,  22.5], dtype=float32)

In [66]:
cat_calib.Q_f_S15.unique()

array([-99. ,   2.5,   3.5,   4.5,   0. ,  21.1,   4. ,   1.5,  13.5,
         1.1,  23.5,   9. ,   3. ,  24.4,   2. ,   2.1,   4.1,   1. ,
         9.5,   3.1,  23.1,  29.5,   4.4,   9.1,  22.4,  22.5,   2.4,
         9.3,  24.5,  22.1,  20. ,  14.5,  11.5,   6. , -10. ,  22. ,
        23. ,  21. ,  24. ,  31. ,   3.4,   1.4,  -1. ,  13.1,  18.1,
        21.5,  29.4,  12.1,  39. ,  14. ,  23.4,  29. ,  19. ,   0.5,
        12.5,  29.3,  10. ,  13. ,  24.1,  34. ,  14.1,  32. ,  21.4,
        33. ,  18.5,  29.1,   5. ,  18.3,  11.1,  14.4,  12. ,   9.4,
         5.1], dtype=float32)

In [94]:
weight_dict={(-99,0.99):0,
             (1,1.99):0.5,
             (2,2.99):0.75,
             (3,4):1,
             (9,9.99):0.25,
             (10,10.99):0,
             (11,11.99):0.5,
             (12,12.99):0.75,
             (13,14):1,
             (14.01,40):0
            }

In [96]:
def map_weight(Qz):
    for key, value in weight_dict.items():
        if key[0] <= Qz <= key[1]:
            return value
    return None

# Apply the function to create the 'wQz' column
cat_calib['w_Q_f_S15'] = cat_calib['Q_f_S15'].apply(map_weight)

In [93]:
cat_calib

,ID,RA,DEC,FLUX_G_1,FLUX_G_2,FLUX_G_3,FLUX_R_1,FLUX_R_2,FLUX_R_3,FLUX_I_1,...,photo_z_L15,z_spec_S15,Q_f_S15,Instr_S15,reliable_S15,flag_X_ray_s15,flag_IRAC_s15,STAR,AGN,wQz
0,32,-99.0,-99.0,0.27910,0.26540,-0.060160,0.16420,0.10770,0.09359,0.6225,...,2.095800,-99.0,-99.0,-99,-99,0,0,0,0,NaN
1,36,-99.0,-99.0,0.16160,0.11760,0.093950,0.13680,0.02803,0.06321,0.3125,...,0.138100,-99.0,-99.0,-99,-99,0,0,0,0,NaN
2,38,-99.0,-99.0,0.20970,0.23170,0.199000,0.38770,0.39770,0.33170,0.1775,...,1.080600,-99.0,-99.0,-99,-99,0,0,0,0,NaN
3,39,-99.0,-99.0,0.15680,0.04144,0.006729,0.32470,0.28490,0.10140,0.2689,...,-99.000000,-99.0,-99.0,-99,-99,0,0,0,0,NaN
4,40,-99.0,-99.0,0.29370,0.36790,0.381100,0.59510,0.48770,0.55310,0.2876,...,1.601600,-99.0,-99.0,-99,-99,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190681,197465,-99.0,-99.0,0.23410,0.11830,0.060100,0.14460,0.24370,0.46160,0.2579,...,-99.900002,-99.0,-99.0,-99,-99,0,0,0,0,NaN
190682,197479,-99.0,-99.0,0.04739,0.04522,0.036710,0.17800,0.16930,0.10800,0.3385,...,-99.000000,-99.0,-99.0,-99,-99,0,0,0,0,NaN
190683,197490,-99.0,-99.0,4.81900,4.76700,4.774000,12.73000,12.71000,12.67000,20.5300,...,-99.900002,-99.0,-99.0,-99,-99,0,0,0,0,NaN
190684,197492,-99.0,-99.0,-0.16100,-0.48150,-0.490300,0.29440,-0.63920,-0.05621,-1.5310,...,-99.000000,-99.0,-99.0,-99,-99,0,0,0,0,NaN
190685,197497,-99.0,-99.0,0.10890,0.07218,0.086700,0.00439,0.06940,0.07060,0.3944,...,-99.900002,-99.0,-99.0,-99,-99,0,0,0,0,NaN